@charset "UTF-8";

* {
    margin: 0px;
}

body {
    background-color: #ff4654;
}

header {
    background-color: black;
}

section {
    max-width: 500px;
    background-color: white;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#current-image {
   flex-shrink: 0;
}

#personagem{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}